
body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  text-align: center;
  /*text-transform: uppercase;*/
}

h1 strong{
  color: #026fff;
}

h2{
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
  margin-left: 20px;
}

h3{
  margin-left: 30px;
}

.header{
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.header a{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero{
  /*height: 300px;
  /*background-image: url('../imagen/agras.jpg');*/
  /*background-size: 500px 300px;*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: right;*/
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
}

.securit{
  background-color: #fafafa;
  padding: 20px 20px 0px 20px;
}

.secure{
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 300px;
}

.secure-image{
  width: 180px;
}

.secure-imageContainer{
  display: flex;
  align-items: center;

}
.secure-title{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.secure-user{
  margin: 10px 0;
}

.equipe{
  display: flex;
}

.cal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calibrat{
  background-color: #fafafa;
  padding: 10px 20px 10px 20px;
}

.calibration-details{
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.calibra-image{
  height: 60px;
}

.steps{
  display: flex;
  justify-content: center;
}

.steps-details{
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 280px;
  font-size: 15px;
}

.steps-image{
  width: 140px;
  height: 180px;
  padding: 20px 0;
  object-fit: scale-down;
}

.dosa{
  background-color: #fafafa;
  padding: 10px 20px 10px 20px;
}

.calculation{
  display: flex;
  justify-content: center;
}

.calcu{
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.calcul{
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}
.performan{
  background-color: #fafafa;
  padding: 10px 20px 20px 20px;
}

.performance-cal{
  display: flex;
  justify-content: center;
}

#footer{
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
  color: white;
}

#footer p{
  margin-top: 8px;
}
.container{
  border: 1px solid red;
  /*margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;*/
}